* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    
}

body{
    background-color:#fbfcfa;
}


.banner {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(https://e00-expansion.uecdn.es/assets/multimedia/imagenes/2022/02/08/16443364419282.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

h1 {
    color: #ffffff;
    font-weight: bold;
    font-size: 100px;
}


a{
    color: #ffffff;
    font-size: 20px;
}

a:hover{
    color: rgb(255, 255, 255);
}

img{
    height: 400px;
    filter: brightness(70%);
    transition: 1s;
}

img:hover{
    filter: brightness(100%);
}

article{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card{
    margin-top: 150px;
    margin-bottom: 200px;
}

.fotos{
    background-color:#fbfcfa;
}

.subtitulo-fotos{
    text-align: center;
    margin-top: 100px;
    padding-top: 50px;
    font-size: 50px;
}

.frase{
    width: 100%;
    height: 70px;
    background-color: rgb(51, 51, 51);
}

.frase-escrita{
    color: #ffffff;
    align-self: center;
    padding-top: 20px;
    padding-left: 70px;
    padding-right: 70px;
}

@media screen and (max-width:1250px){
    .subtitulo-fotos{
        padding-left: 40px;
        padding-right: 40px;
        font-size: 40px;
    }

    .card{
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

@media screen and  (max-width:920px){
    .frase{
        height: 120px;
    }
}

@media screen and  (max-width:700px){
    .frase{
        height: 160px;
    }
}

@media screen and  (max-width:600px){
    h1 {
        font-size: 60px;
    }

    .frase{
        height: 200px;
    }
}

@media screen and  (max-width:435px){
    h1 {
        font-size: 52px;
    }

    .frase{
        height: 300px;
    }
}

